.header-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin-top: -150px;
}

.main-city {
    display: flex;
    justify-content: space-around;
    /* margin-top: 15px; */
    margin-left: 15px;
    background-color: #ddd;
    width: 90%;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}

.dollar-heart {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.dollar-heart p {
    font-size: 20px;
    color:blueviolet;
}

.bed-bath {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.main-content {
    margin: 15px;
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.searchbar {
    background-color: white;
    color: black;
}

.location {
    background-color: white;
    color: black;
}
.when {
    background-color: white;
    color: black;
}

.prices {
    background-color: white;
    color: black;
}
.property {
    background-color: white;
    color: black    ;
}
